#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ESTILOS PARA NAVBAR */
.navbar {
  margin-bottom: 20px;
}

.nav-link {
  margin-right: 12px;
  text-decoration: none;
  color: #333;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}
/* ESTILOS PARA NAVBAR */


/* ESTILOS PARA LOS FORMULARIOS */
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
}

.Form form {
  width: 100%;
  max-width: 400px;
}

.Form div {
  height: 90px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Form input,
.Form textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #aaa;
}
/* ESTILOS PARA LOS FORMULARIOS */


/* ESTILOS PARA LOS COMPONENTES Item */
.Items {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}
/* ESTILOS PARA LOS COMPONENTES Item */


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}